.additional__text {
  font-size: 14px;
  line-height: 20px;
  max-width: 248px;
  position: absolute;
  bottom: 30px;
  left: 18px;
  z-index: 1;
  margin: 0;
}


@media screen and (max-width: 1024px) {
  .additional__text {
    bottom: 16px;
    left: 14px;
    max-width: 210px;
  }
}

@media screen and (max-width: 800px) {
  .additional__text {
    bottom: 30px;
    left: 18px;
    max-width: 248px;
  }
}

