.comment__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  display: block;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .comment__author {
    order: 2;
    margin: 24px auto 0;
  }
}
