@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);

.lead {
  margin: auto;
  color: white;
  width: calc(100% - 296px);
  max-width: 985px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: calc(100% - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 700px) {
  .lead {
    width: calc(100% - 32px);
    max-width: 700px;
  }
}


