.intro__text_column_left {
  max-width: 683px;
  margin-right: 18px;
}

@media screen and (max-width : 375px) {
  .intro__text_column_left {
    margin: 32px 0 0;
  }
}


@media screen and (max-width: 320px) {
  .intro__text_column_left {
    margin: 24px 0 0;
  }
}